.fluid_controls_container.disabled {
    display: none;
}

.fluid_html_on_pause{
    display: none;
}

.video-container>video.portrait {
    object-fit: contain !important;
}

.video-container>video.landscape {
    object-fit: fill !important;
}

.fluid_video_wrapper.fluid_player_layout_default:fullscreen {
    width: 100% !important;
    height: 100% !important;
    position: absolute;
    top: 0;
    left: 0;
}
